#define frm_Main 1000
#define IDC_BTN1 1001
#define IDC_STC1 1002
#define IDC_EDT1 1003
#define IDC_LST1 1004
#define IDC_CHK1 1005
#define IDC_RBN1 1006
#define IDC_GRP1 1007
#define IDC_TRV1 1008
#define IDC_RED1 1009
#define IDC_BTN2 1010
#define frmLogin 1002
#define lblUserName 1001
#define txtUserName 1002
#define lblPassword 1005
#define txtPassword 1004
#define btnLoginCancel 1003
#define btnLoginOK 1006
#define lblTop 1007
#define lblTitle 1009
#define lblDescription 1010
#define lblIcon 1008
#define lblError 1011

frm_Main DIALOGEX 10,10,318,213
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "IDC_BTN",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,18,6,105,21
  CONTROL "IDC_STC",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE,21,39,105,24
  CONTROL "",IDC_EDT1,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,156,9,120,27,WS_EX_CLIENTEDGE
  CONTROL "",IDC_LST1,"ListBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|LBS_NOINTEGRALHEIGHT|LBS_HASSTRINGS|LBS_NOTIFY,159,51,120,27,WS_EX_CLIENTEDGE
  CONTROL "IDC_CHK",IDC_CHK1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,165,93,114,27
  CONTROL "IDC_RBN",IDC_RBN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,18,87,114,27
  CONTROL "IDC_GRP",IDC_GRP1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,18,132,126,24
  CONTROL "",IDC_TRV1,"SysTreeView32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|TVS_LINESATROOT|TVS_HASLINES|TVS_HASBUTTONS,165,135,135,27,WS_EX_CLIENTEDGE
  CONTROL "IDC_RED",IDC_RED1,"RichEdit20A",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,18,165,132,33,WS_EX_CLIENTEDGE
  CONTROL "IDC_BTN",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,192,180,108,21
END

frmLogin DIALOGEX 66,6,240,135
CAPTION "Login"
FONT 8,"MS Sans Serif",400,0,0
STYLE WS_VISIBLE|WS_CLIPCHILDREN|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|WS_MAXIMIZEBOX|DS_CENTER|DS_SETFONT|DS_3DLOOK
BEGIN
  CONTROL "User Name",lblUserName,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_RIGHT,5,55,65,10
  CONTROL "",txtUserName,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,75,50,160,15,WS_EX_CLIENTEDGE
  CONTROL "Password",lblPassword,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_RIGHT,5,80,65,10
  CONTROL "",txtPassword,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_PASSWORD,75,75,160,15,WS_EX_CLIENTEDGE
  CONTROL "Cancel",btnLoginCancel,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,120,100,53,25
  CONTROL "OK",btnLoginOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,180,100,53,25
  CONTROL "",lblTop,"Static",WS_CHILDWINDOW|WS_VISIBLE,0,0,195,35
  CONTROL "Login",lblTitle,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_ENDELLIPSIS,5,5,190,10
  CONTROL "Please enter your Username and Password",lblDescription,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_ENDELLIPSIS,15,20,175,10
  CONTROL "",lblIcon,"Static",WS_CHILDWINDOW|WS_VISIBLE,195,0,45,35
  CONTROL "",lblError,"Static",WS_CHILDWINDOW|WS_VISIBLE,15,35,220,15
END

